<?xml version='1.0' encoding='utf-8'?>
<ncx xmlns="http://www.daisy.org/z3986/2005/ncx/" version="2005-1" xml:lang="eng">
  <head>
    <meta content="9a79a8d4-2937-46e9-85ad-ec7afaa3d201" name="dtb:uid"/>
    <meta content="2" name="dtb:depth"/>
    <meta content="calibre (3.11.1)" name="dtb:generator"/>
    <meta content="0" name="dtb:totalPageCount"/>
    <meta content="0" name="dtb:maxPageNumber"/>
  </head>
  <docTitle>
    <text>{{ title|e }}</text>
  </docTitle>
  <navMap>
    {% for item in TOC recursive%}
    <navPoint class="chapter" id="num_1" playOrder="0">
    <navLabel>
    <text>{{ item.label|e }}</text>
    </navLabel>
    <content src="{{ item.href }}"/>
        {%- if item.children -%}
        {{ loop(item.children) }}
        {%- endif %}
    </navPoint>
    {% endfor %}

</ncx>
